<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Ashvin PAINIAYE, Frederic JOUAN, Ludovic DIEUDONNE">
  <!-- You can use Open Graph tags to customize link previews.
  Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="https://meeteo.simplonreunion.co" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Meeteo" />
  <meta property="og:description"   content="Meeteo est uneapplication de météo crowdsourcée et géolocalisée." />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
  <title>{% block title %}Meeteo{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="{{asset('main/font-awesome/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{asset('main/weather-icons/css/weather-icons.min.css')}}">
  <link rel="stylesheet" href="{{asset('main/materialize/css/materialize.min.css')}}">
  <link rel="stylesheet" href="{{asset('main/css/main.css')}}">
  <link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/icon?family=Material+Icons')}}">
{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

  <div id="fb-root"></div>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1801194333500391',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  
{% block header %}

<nav>
  <div class="container"><a href="#" data-activates="mobile-demo" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons" style="color: #616161;">menu</i></a></div>

  <h1 class="brand-logo hide-on-large-only"><i class="fa fa-globe" aria-hidden="true" style="color: #f65314"></i> <span style="color:#7cbb00">M</span><span style="color:#00a1f1">e</span><span style="color:#ffbb00">e</span><span style="color:#7cbb00">t</span><span style="color:#f65314">e</span><span style="color:#00a1f1">o</span> </h1>

  <ul class="side-nav fixed" id="mobile-demo">
    <li><h1 class="center-align"><i class="fa fa-globe" aria-hidden="true" style="color: #f65314"></i><br> <span style="color:#7cbb00">M</span><span style="color:#00a1f1">e</span><span style="color:#ffbb00">e</span><span style="color:#7cbb00">t</span><span style="color:#f65314">e</span><span style="color:#00a1f1">o</span> </h1></li>
    {% block search %}
    <hr>
    <li>
      <form>
        <div class="input-field">
          <input id="pac-input" type="search" placeholder="Rechercher">
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </li>

    {% endblock search %}
    <hr>

    <li>
      <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
    </li>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li>
      <a href="#" onclick="redirectToRoute()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Notifier</a>
    </li>

    {% endif %}
    <hr>
    {% block carte %}
    <li><a href="/"><i class="wi wi-day-cloudy-windy" aria-hidden="true"></i> Climat</a></li>
    <li><a  href="/temperature"> <i class="wi wi-thermometer"></i> Température</a></li>
    <li><a href="/vent"><i class="wi wi-tornado"></i> Vent</a></li>
    <hr>
    {% endblock %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    {% if is_granted('ROLE_ADMIN') %}
    <li>
      <a href="/Manage"><i class="fa fa-wrench" aria-hidden="true"></i> Gestion</a>
    </li>
    {% endif %}
    <li>
      <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> {{ app.user.username }}</a>
    </li>

    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>

    {% else %}

    <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a></li>
    <li><a href="/register"><i class="fa fa-edit" aria-hidden="true"></i> Inscription</a></li>

    {% endif %}

    <!-- facebook-->
    <li>
      <div class="fb-share-button center-align"
      data-href="https://meeteo.simplonreunion.co"
      data-layout="button_count">
    </div>
  </li>

  </ul>

</nav>


{% endblock %}

{% block body %}

<div id="map">
</div>

{% endblock %}

{% block fos_user_content %}
{% endblock %}


{% block javascripts %}

<script>
// DEBUT GOOGLE MAP API
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -21.10972, lng: 55.49639},
    zoom: 10,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var infoWindow = new google.maps.InfoWindow({map: map});
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      infoWindow.setPosition(pos);
      infoWindow.setContent('Vous etes ici');
      map.setCenter(pos);
      map.setZoom(13);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    handleLocationError(false, infoWindow, map.getCenter());
  }
  // DEBUT SEARCH GOOGLE MAP
  // Create the search box and link it to the UI element.
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  //  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });
  var markers = [];
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();
    if (places.length == 0) {
      return;
    }
    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];
    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };
      // Create a marker for each place.
      markers.push(new google.maps.Marker({
        map: map,
        icon: icon,
        title: place.name,
        position: place.geometry.location
      }));
      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });
  // FIN SEARCH GOOGLE MAP
  // DEBUT MARKER REPORT
  setMarkers(map);
}
var listeReports = [{% for report in listereports %}
  [ {{report.lat}}, {{report.lon }},'{{report.weather}}' ,'{{report.temperature}}','{{report.wind}}','{{report.imageName}}','{{report.date|date("H")}} heures et {{report.date|date("i")}} minutes'],
  {% endfor %}];
  function setMarkers(map) {
    var image = {
      scaledSize: new google.maps.Size(50,50), // scaled size
      origin: new google.maps.Point(0,0), // origin
      anchor: new google.maps.Point(0, 0) // anchor
    };
    for (var i = 0; i < listeReports.length; i++) {
      {% block conditionIcon %}
      if(listeReports[i][2] === 'Ensoleillé' ){
        image.url = "images/tick/sunny.png";
      }
      else if(listeReports[i][2] === 'Nuageux' ) {
        image.url = "images/tick/cloudy4.png";
      }
      else if(listeReports[i][2] === 'Pluvieux') {
        image.url = "images/tick/shower3.png";
      }
      else if(listeReports[i][2] === 'Brume') {
        image.url = "images/tick/overcast.png";
      }
      else if(listeReports[i][2] === 'Neige') {
        image.url = "images/tick/snow4.png";
      }
      else if(listeReports[i][2] === 'Grèle') {
        image.url = "images/tick/hail.png";
      }
      {% endblock %}
      var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      // '<h1 id="firstHeading" class="firstHeading text-center">Info</h1>'+
      '<div id="bodyContent">'+ '<img class="center-block" style="margin-top:20px; margin-bottom: 20px;" src="images/reports/'+listeReports[i][5]+'" />' + '<strong>Temps :</strong> ' +
      listeReports[i][2] + '<br/><strong>Temperature :</strong> ' + listeReports[i][3] + '°C' + '<br/><strong>Vent :</strong> ' + listeReports[i][4] + '<br><br><span style="font-size:10px;">Posté à ' + listeReports[i][6] + '</span>' +
      '</div>'+
      '</div>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString,
      });
      var marker = new google.maps.Marker({
        position: {lat: listeReports[i][0], lng:listeReports[i][1]},
        map: map,
        icon : image,
        info: contentString
      });
      marker.addListener('click', function() {
        infowindow.setContent(this.info);
        infowindow.open(map, this);
      });
    }
  }

  // FIN MARKER REPORT
  function redirectToRoute() {


    document.location.href="/report/" + pos.lat + "/" + pos.lng;
  }
  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
    }
    // FIN GOOGLE MAP API
    </script>

    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="{{asset('main/materialize/js/materialize.min.js')}}"></script>
    <script src="{{asset('main/js/main.js')}}"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcLrM9KgEVlnNV6FS4gkjN-_XGHReLIHg&libraries=places&callback=initAutocomplete&callback=initMap"
    asysnc defer>
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
      $(".button-collapse").sideNav();
      $(".dropdown-button").dropdown();
      $('select').material_select();
    })
    </script>

    {% endblock %}


  </body>
  </html>
