{% trans_default_domain 'FOSUserBundle' %}
<section id="formulaire">

  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">

        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        <div class="row">
          <div class="input-field col s12">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, {'attr': {'class':'validate'}}) }}
            {{ form_errors(form.current_password) }}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class':'validate'}}) }}
            {{ form_errors(form.plainPassword.first) }}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class':'validate'}}) }}
            {{ form_errors(form.plainPassword.second) }}
          </div>
        </div>
        
        <div class="row" style="text-align:center; margin-top:70px;">
          <button class="btn-floating btn-large waves-effect waves-light tooltipped" type="submit" data-position="bottom" data-delay="50" data-tooltip="Mettre à jour">
            <i class="material-icons right">save</i>
          </button>
        </div>

        {{ form_end(form) }}

      </div>
    </div>
  </div>
</section>
